@import "g-style";

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

aside {
  padding: 10px;
  background-color: #008bbc;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  color: #fff;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  max-width: 65px;
  overflow: hidden;

  &:hover {
    width: fit-content;
    max-width: 250px;

    nav {
      padding-right: 8px;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: #00516d #9ae5ff;
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: #9ae5ff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #00516d;
        border: 3px solid #00516d;
      }
      ul {
        li {
          a {
            padding: 6px 18px 6px 10px;
            span {
              margin-left: 10px;
              display: block;
            }
          }
        }
      }
    }

    .more-info {
      ul {
        li {
          a {
            padding: 6px 18px 6px 10px;
            span {
              margin-left: 10px;
              display: block;
            }
          }
        }
      }
    }
  }

  // logo sidebar

  .header-sidebar {
    .logo-sidebar {
      margin: 10px 5px 15px;
      i {
        font-size: 2rem;
        display: block;
      }
    }
    .sidebar-btn {
      display: none;
    }
  }

  // nav sidebar

  nav {
    overflow: hidden;
    padding: 5px 0;
    ul {
      li {
        a {
          display: flex;
          align-items: center;
          padding: 6px 10px;
          border-radius: 8px;
          transition: all 0.3s ease-in-out;
          &.active {
            background-color: rgba(0, 0, 0, 0.2);
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          .icon-sidebar {
            display: flex;
            align-items: center;
            i {
              font-size: 22px;
            }
          }
          span {
            margin-left: 10px;
            display: none;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .more-info {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    ul {
      li {
        a {
          display: flex;
          align-items: center;
          padding: 6px 10px;
          border-radius: 8px;
          transition: all 0.3s ease-in-out;
          .icon-sidebar {
            i {
              font-size: 22px;
            }
            img {
              display: block;
              height: 100%;
              object-fit: cover;
              width: 22px;
              height: 22px;
              border-radius: 60px;
            }
          }
          span {
            margin-left: 10px;
            display: none;
            white-space: nowrap;
          }
          &.active {
            background-color: rgba(0, 0, 0, 0.2);
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  aside {
    min-width: 100%;
    overflow: hidden;
    height: fit-content;
    height: 48px;
    padding: 4px 10px;
    .header-sidebar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      .logo-sidebar {
        margin: 0 5px;
      }
      .sidebar-btn {
        margin: 0 5px;
        display: flex;
        background-color: transparent;
        border: 0;
        outline: none;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        cursor: pointer;
        span {
          display: block;
          background-color: #fff;
          width: 24px;
          height: 3px;
          margin: 3px 0;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
          &:nth-child(2) {
            width: 18px;
            transition: all 0.2s ease-in-out;
          }
        }
        &.active {
          height: 27px;
          span {
            background-color: rgb(165, 19, 19);
            margin: -2px auto;
            border-radius: 10px;
            &:first-child {
              transform: rotate(-45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:last-child {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    nav {
      ul {
        li {
          a {
            span {
              display: block;
            }
          }
        }
      }
    }

    .more-info {
      ul {
        li {
          a {
            span {
              display: block;
            }
          }
        }
      }
    }
    &.active {
      height: 100vh;
    }
  }
}
