* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

.g-container {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media (min-width: 576px) {
  .g-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .g-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .g-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .g-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .g-container {
    max-width: 1320px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.chat {
  padding: 0 0 60px;
  background: url("../img/background.png") repeat center center;
}

.chat .chat-wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 190px auto 260px;
      grid-template-columns: 190px auto 260px;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.chat .chat-wrapper .chat-head {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 10px;
}

.chat .chat-wrapper .chat-option {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  padding: 0 20px;
  width: 190px;
}

.chat .chat-wrapper .chat-option ul {
  padding: 10px 0;
}

.chat .chat-wrapper .chat-option ul li {
  margin-bottom: 15px;
}

.chat .chat-wrapper .chat-option ul li button {
  color: #fff;
  font-size: 1rem;
  display: block;
  background-color: #5b4332;
  border-radius: 5px;
  width: 100%;
  padding: 14px 19px;
  border: 5px outset #b38e72;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 7px 7px -4px #5b4332;
          box-shadow: 0 7px 7px -4px #5b4332;
}

.chat .chat-wrapper .chat-option ul li button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chat .chat-wrapper .chat-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  border-radius: 0 0 5px 5px;
  height: 580px;
  width: calc(100% - 15px);
  position: relative;
}

.chat .chat-wrapper .chat-box::after {
  content: "";
  background: url("../img/wall.png") no-repeat;
  position: absolute;
  top: 0;
  right: -15px;
  bottom: 0;
  z-index: 222;
  width: 15px;
  height: 100%;
}

.chat .chat-wrapper .chat-box .chat-content {
  height: 500px;
  background-color: #000;
  padding: 15px 30px 20px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #ccc;
  border: 22px solid;
  -o-border-image: url(../img/border.png) 22 round;
     border-image: url(../img/border.png) 22 round;
}

.chat .chat-wrapper .chat-box .chat-content::-webkit-scrollbar {
  width: 0.6vw;
  height: 1vh;
}

.chat .chat-wrapper .chat-box .chat-content::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 20px;
  margin-block: 4px;
}

.chat .chat-wrapper .chat-box .chat-content::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}

.chat .chat-wrapper .chat-box .chat-content::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

.chat .chat-wrapper .chat-box .chat-content .outgoing,
.chat .chat-wrapper .chat-box .chat-content .incoming {
  margin-bottom: 10px;
  width: calc(100% - 100px);
}

.chat .chat-wrapper .chat-box .chat-content .outgoing p,
.chat .chat-wrapper .chat-box .chat-content .incoming p {
  padding: 2px 10px;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.chat .chat-wrapper .chat-box .chat-content .outgoing {
  margin-left: auto;
}

.chat .chat-wrapper .chat-box .chat-content .outgoing p {
  color: #fff;
}

.chat .chat-wrapper .chat-box .chat-content .incoming {
  margin-right: auto;
}

.chat .chat-wrapper .chat-box .chat-content .incoming span {
  color: #f0f67e;
  display: block;
}

.chat .chat-wrapper .chat-box .chat-content .incoming p {
  color: #f0f67e;
  margin-left: 5px;
}

.chat .chat-wrapper .chat-box .chat-text {
  height: 80px;
  border: 18px solid;
  background-color: #000;
  -o-border-image: url("../img/border.png") 18 round;
     border-image: url("../img/border.png") 18 round;
}

.chat .chat-wrapper .chat-box .chat-text form {
  height: 100%;
  padding: 2px;
}

.chat .chat-wrapper .chat-box .chat-text form input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  height: 55px;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background-color: #000;
  color: #fff;
}

.chat .chat-wrapper .chat-box .open-online-user {
  display: block;
  position: absolute;
  right: -27px;
  z-index: 333;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 40px 40px;
  padding: 1px;
  cursor: auto;
}

.chat .chat-wrapper .chat-box .open-online-user img {
  width: 100%;
  height: 100%;
}

.chat .chat-wrapper .online-chat {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #000;
  color: #fff;
  -webkit-box-shadow: 0 0 10px -4px #555;
          box-shadow: 0 0 10px -4px #555;
  border: 20px solid;
  -o-border-image: url("../img/borderr.png") 20 round;
     border-image: url("../img/borderr.png") 20 round;
  height: 500px;
}

.chat .chat-wrapper .online-chat .online-title {
  position: relative;
  padding: 0 5px 5px;
  text-align: center;
}

.chat .chat-wrapper .online-chat .online-title::before {
  content: "";
  position: absolute;
  left: -22px;
  right: -12px;
  bottom: -15px;
  border: 25px solid;
  border-top: 0;
  -o-border-image: url("../img/bottom-border.png") 25 round;
     border-image: url("../img/bottom-border.png") 25 round;
}

.chat .chat-wrapper .online-chat .online-title h3 {
  font-weight: 400;
  font-size: 1rem;
}

.chat .chat-wrapper .online-chat ul {
  padding: 15px;
  overflow-y: auto;
  height: 400px;
  margin-top: 22px;
  scrollbar-width: thin;
  scrollbar-color: #555 #ccc;
}

.chat .chat-wrapper .online-chat ul::-webkit-scrollbar {
  width: 0.6vw;
  height: 1vh;
}

.chat .chat-wrapper .online-chat ul::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 20px;
  margin-block: 4px;
}

.chat .chat-wrapper .online-chat ul::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}

.chat .chat-wrapper .online-chat ul::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

.chat .chat-wrapper .online-chat ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.chat .chat-wrapper .online-chat ul li .online-color {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 15px;
  background-color: #00fd00;
}

.chat .chat-wrapper .send-message {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-top: 10px;
}

.chat .chat-wrapper .send-message button {
  padding: 12px 25px;
  width: 49%;
  background-color: #5b4332;
  border: 5px outset #b38e72;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 7px 7px -4px #5b4332;
          box-shadow: 0 7px 7px -4px #5b4332;
  color: #fff;
  font-size: 1rem;
}

.chat .chat-wrapper .send-message button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 992px) {
  .chat .chat-wrapper {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
  .chat .chat-wrapper .chat-head {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .chat .chat-wrapper .chat-option {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 100%;
    margin-bottom: 5px;
  }
  .chat .chat-wrapper .chat-option ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .chat .chat-wrapper .chat-option ul li {
    margin: 0 5px 8px 5px;
  }
  .chat .chat-wrapper .chat-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .chat .chat-wrapper .online-chat {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .chat .chat-wrapper .send-message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

@media (max-width: 768px) {
  .chat .chat-wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
  .chat .chat-wrapper .chat-head {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .chat .chat-wrapper .chat-option {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .chat .chat-wrapper .chat-option ul li button {
    padding: 8px 12px;
  }
  .chat .chat-wrapper .chat-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .chat .chat-wrapper .chat-box .chat-content .outgoing,
  .chat .chat-wrapper .chat-box .chat-content .incoming {
    width: calc(100% - 50px);
  }
  .chat .chat-wrapper .chat-box .open-online-user {
    outline: 2px solid #00fd00;
    outline-offset: -2px;
    cursor: pointer;
    -webkit-animation: closeOnline 1.5s infinite;
            animation: closeOnline 1.5s infinite;
  }
  .chat .chat-wrapper .chat-box .open-online-user.active {
    outline: 2px solid #fd0000;
    -webkit-animation: openOnline 1.5s infinite;
            animation: openOnline 1.5s infinite;
  }
  @-webkit-keyframes closeOnline {
    0% {
      outline: 2px solid transparent;
    }
    100% {
      outline: 2px solid #00fd00;
    }
  }
  @keyframes closeOnline {
    0% {
      outline: 2px solid transparent;
    }
    100% {
      outline: 2px solid #00fd00;
    }
  }
  @-webkit-keyframes openOnline {
    0% {
      outline: 2px solid transparent;
    }
    100% {
      outline: 2px solid #fd0000;
    }
  }
  @keyframes openOnline {
    0% {
      outline: 2px solid transparent;
    }
    100% {
      outline: 2px solid #fd0000;
    }
  }
  .chat .chat-wrapper .online-chat {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    position: fixed;
    top: 0;
    left: -200%;
    bottom: 0;
    width: 240px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 100%;
  }
  .chat .chat-wrapper .online-chat ul {
    height: 90%;
  }
  .chat .chat-wrapper .online-chat.active {
    left: 0;
  }
}

.sign-in {
  background-color: #555;
  padding: 0 0 60px;
}

.sign-in .sign-in-wrapper {
  min-height: 100vh;
}

.sign-in .sign-in-wrapper .sign-in-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 10px;
  color: #00851d;
}

.sign-in .sign-in-wrapper .sign-in-head h3 {
  border: 3px solid #ccc;
  padding: 15px 50px;
  font-size: 1.5rem;
}

.sign-in .sign-in-wrapper .sign-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.sign-in .sign-in-wrapper .sign-box .matching {
  border: 15px solid transparent;
  -o-border-image: url("../img/border.png") 33% round;
     border-image: url("../img/border.png") 33% round;
  background-color: #000;
}

.sign-in .sign-in-wrapper .sign-box .matching .matching-title {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  -o-border-image: url("../img/border.png") 33% round;
     border-image: url("../img/border.png") 33% round;
  border-bottom: 15px solid transparent;
  padding: 5px 6px;
}

.sign-in .sign-in-wrapper .sign-box .matching .matching-content {
  padding: 60px 15px;
}

.sign-in .sign-in-wrapper .sign-box .sign-in-box {
  border: 15px solid transparent;
  -o-border-image: url("../img/border.png") 33% round;
     border-image: url("../img/border.png") 33% round;
  background-color: #000;
  color: #fff;
  padding: 20px 15px;
  position: relative;
  z-index: 0;
}

.sign-in .sign-in-wrapper .sign-box .sign-in-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 79%, 66% 79%, 66% 100%, 32% 100%, 0 100%, 0 43%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 79%, 66% 79%, 66% 100%, 32% 100%, 0 100%, 0 43%, 0 0);
}

.sign-in .sign-in-wrapper .sign-box .sign-in-box h3 {
  text-align: center;
  color: #e9f26a;
  margin-bottom: 20px;
  font: 1.2rem;
}

.sign-in .sign-in-wrapper .sign-box .sign-in-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.sign-in .sign-in-wrapper .sign-box .sign-in-box form ul li {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sign-in .sign-in-wrapper .sign-box .sign-in-box form ul li label {
  margin-bottom: 6px;
  font-size: 0.9rem;
}

.sign-in .sign-in-wrapper .sign-box .sign-in-box form ul li input {
  padding: 5px 8px;
  border: 2px solid #a19a88;
  background-color: #000;
  color: #fff;
  width: 55%;
}

.sign-in .sign-in-wrapper .sign-box .sign-in-box form .ok-cancel {
  position: absolute;
  right: -14px;
  bottom: -14px;
  padding: 15px;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  -o-border-image: url("../img/border.png") 33% round;
     border-image: url("../img/border.png") 33% round;
  background-color: #000;
  z-index: 500;
}

.sign-in .sign-in-wrapper .sign-box .sign-in-box form .ok-cancel button {
  padding: 6px 18px;
}

@media only screen and (max-width: 768px) {
  .sign-in .sign-in-wrapper .sign-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */