@import "g-style";

body {
  font-family: "Poppins", sans-serif;
}

.client {
  background-color: #d7c6e8;
  height: 100%;
  color: #fff;
  padding: 40px 0;
  .g-container {
    text-align: center;
    .save-img {
      max-width: 500px;
      margin: 0 auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    p {
      font-size: 1.6rem;
      span {
        display: block;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 40px;
      li {
        display: inline-block;
        margin: 10px;
        p {
          font-size: 3rem;
        }
      }
    }
    h3 {
      font-size: 2.8rem;
      font-weight: 400;
      margin: 20px 0;
    }
    @media (max-width: 768px) {
      ul {
        li {
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
